
.itirenary{
    padding:2rem 8rem 5rem 8rem;
    background-size:100%;
    background-position:center;
}
.itirenary--h{
    background-image: url(../assets/Images/hawaii.jpg);
   
}
.itirenary--i{
    background-image: url(../assets/Images/iceland.jpg);
}
.itirenary--g{
    background-image: url(../assets/Images/greece.jpg);
}
.itirenary__title{
    color:#ffffff;
    font-size: 3rem;
    position: relative;
    right:3rem;
}
.itirenary__cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.itirenary__card{
    width:18rem;
    height:27rem;
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    background-color: #ffffff;
   

}
.itirenary__card-title{
    border-bottom: 2px solid black;
    font-size: 1.3rem;
    text-align: center;
    margin:1rem;
}
.itirenary__card-items{
    padding:1rem;
    
}
.itirenary__card-item{
    list-style: none;
    padding:1.2rem;
    margin:0;
    margin-bottom: 1rem;
    background-color:#fefaf5;
    text-align: center;
}
