
.hero{
    background-color: #fefaf5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:5rem;
    
}
.hero__content{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-start;
    height:15rem;
}
.hero__content-title{
    color:#335576;
    font-size: 2.5rem;
    margin:0;
}
.hero__content-subtitle{
    color:#335576;
   
}
.hero__content-button{
    background-color: #db7a4e;
    color:#ffffff;
    font-size: 0.9rem;
    border-radius: 3rem;
    border-color: #ffffff;
    width:11rem;
    height:2.5rem;
}
.hero__img{
    width:30rem;

}
.rec{
    background-color: #ffffff;
    padding:2rem 8rem 5rem 8rem;
}
.rec__title{
    color:#335576;
    position: relative;
    right:2.5rem;
}
.rec__cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rec__card{
    width:18rem;
    height:27rem;
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);

}
.rec__card-img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.rec__card-text{
    position: absolute;
    bottom:2rem;
    right:0.5rem;
    color:#ffffff;
    font-size: 1.8rem;
    font-weight:400;

}
